<div id="<%= dom_id locality %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= locality.postal_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= locality.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this locality", locality, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this locality", edit_locality_path(locality), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
