<div id="<%= dom_id person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= person.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Firstname:</strong>
    <%= person.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lastname:</strong>
    <%= person.last_name %>
  </p>

  <% classrooms_by_year = Hash.new { |hash, key| hash[key] = [] } %>
  <% person.person_belongs_to_classrooms&.each do |classroom| %>
    <% year = classroom.start_date %>
    <% classrooms_by_year[year] << classroom %>
  <% end %>

  <% sorted_classrooms_by_year = classrooms_by_year.sort_by { |year, _| year }.reverse %>


  <% sorted_classrooms_by_year.each do |year, classrooms| %>
  <h2>Year: <%= year.year %>-<%= year.year + 1 %></h2>
  <p class="my-5">
    <strong class="block font-medium mb-1">Class rooms:</strong>
    <%= classrooms.first.classroom.name %>
  </p>
  <% end %>


  <% if action_name != "show" %>
    <%= link_to "Show this person", person, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this person", edit_person_path(person), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
