<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if current_person&.dean? %>
    <div class="flex justify-end items-center">
      <%= link_to "Generate grade report", "report_card/generate", class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Grades</h1>
    <%= link_to "New grade", new_person_person_have_exam_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="person_have_exams" class="min-w-full">



    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <thead>
          <tr class="bg-gray-200">
          <th>Subject</th>
          <th>Score</th>
          <th>Show</th>
          <% if current_person&.teacher? %>
            <th>Edit</th>
            <th>Delete</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @person_have_exams.each do |grade| %>
          <tr class="<%= cycle('bg-gray-100', 'bg-gray-200') %>">
            <td><%= grade.exam.subject.name %></td>
            <td><%= grade.grade %></td>
            <td  style="width: 1%;"><%= link_to image_tag("search.png", width: 16), person_person_have_exam_path(grade.person_id, grade) %></td>
            <% if current_person&.teacher? %>
              <td  style="width: 1%;"><%= link_to image_tag("pen.png", width: 16), edit_person_person_have_exam_path(grade.person_id, grade) %></td>
              <td  style="width: 1%;"> <%= button_to image_tag("bin.png", width: 16), person_person_have_exam_path(grade.person_id, grade), method: :delete %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
