<div id="<%= dom_id historic %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= historic.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= historic.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= historic.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current class:</strong>
    <%= historic.current_class %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= historic.person_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this historic", historic, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this historic", edit_historic_path(historic), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
