<div id="<%= dom_id person_evaluate_exam %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Exam date:</strong>
    <%= person_evaluate_exam.exam_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= person_evaluate_exam.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Exam:</strong>
    <%= person_evaluate_exam.exam_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this person evaluate exam", person_evaluate_exam, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this person evaluate exam", edit_person_evaluate_exam_path(person_evaluate_exam), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
