<div id="<%= dom_id person_teach_subject %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Teach date:</strong>
    <%= person_teach_subject.teach_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= person_teach_subject.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= person_teach_subject.subject_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this person teach subject", person_teach_subject, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this person teach subject", edit_person_teach_subject_path(person_teach_subject), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
