<div id="<%= dom_id lesson %>" class="<%= 'bg-gray-300' if (lesson.date < Date.today) %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= lesson.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Teacher:</strong>
    <%= lesson.person.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= lesson.subject.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this lesson", lesson, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this lesson", edit_lesson_path(lesson), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to  "Archive", archive_lesson_path(lesson), {:method => :post, :class => "rounded-lg py-3 ml-2 px-5 bg-gray-100  font-medium", :form_class => "inline-block"} %>
    <hr class="mt-6">
  <% end %>
</div>
